    .custom-modal {
    font-family: 'Arial', sans-serif;
    }
    
    .custom-modal-header {
        background-color: #3498db;
        color: #fff;
        border-bottom: none;
    }
    
    .custom-modal-title {
        margin: 0;
    }
    
    .custom-modal-body {
        padding: 20px;
    }
    
    .custom-modal-footer {
        border-top: none;
    }
    
    label {
        display: block;
        margin-bottom: 5px;
    }
    
    input.form-control,
    textarea.form-control {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }
    
    .react-datepicker-wrapper {
        width: 100%;
    }
    
    button {
        cursor: pointer;
        padding: 10px 15px;
        margin-right: 10px;
        border: none;
        border-radius: 5px;
    }
    
    button.secondary {
        background-color: #95a5a6;
        color: #fff;
    }
    
    button.primary {
        background-color: #2ecc71;
        color: #fff;
    }
    